
#main-wrapper {
  display: flex;
  flex-direction: row;
}

.panel {
  border: 1px solid black;
}

.section {
  border: 1px dashed blue;
}

#input-panel {
  /* background-color: thistle; */
}

#output-panel {
  /* background-color: lightgreen; */
}
